[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "public"]
	path = public
	url = https://github.com/aimerneige/aimerneige.github.io
[submodule "themes/Notice"]
	path = themes/Notice
	url = https://github.com/martignoni/hugo-notice.git
