<!-- License -->
<div id="license">
    <p>
        This article is licensed under
        <a target="_blank" rel="noopener" href="http://creativecommons.org/licenses/by-nc/4.0/" style="color: #00b5da">
            <u>CC-BY-NC-4.0</u>
        </a>
    </p>
</div>
<!-- Comment System Support -->
<div id="comment">
    <script
        id="utterances"
        src="https://utteranc.es/client.js"
        repo="aimerneige/aimerneige.github.io"
        issue-term="title"
        label="comment"
        theme="github-light"
        crossorigin="anonymous"
        async
    ></script>
    <script>
        // remove comment if QQ or WeChat detected.
        let ua = navigator.userAgent.toLocaleLowerCase();
        if (ua.match(/QQ/i) == "qq") {
            document.getElementById("utterances").remove();
        }
        if (ua.match(/MicroMessenger/i) == "micromessenger") {
            document.getElementById("utterances").remove();
        }
    </script>
</div>

<!-- MathJax Support -->
{{ if $.Page.Params.MathJax }}
{{ partial "mathjax_support.html" . }}
{{ end }}
